@charset "utf-8";


@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	position: relative;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	display: inline-block;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 100;
}
.white {
	color: #fff;
}
.black {
	color: #000;
}

.b {
	position: relative;
}
.b-block {
	position: relative;
	max-width: 1050px;
	margin: 0px auto;
}
.b1 {
	background-color: #fff;
	font-family: 'robotolight';
}
	.b-logo-img {
		margin: 35px 45px 35px 0px;
	}
	.b-menu-list li {
		display: inline-block;
		margin: 35px 12px 35px 0px;
	}

		.b-menu-list li a {
			font-family: 'robotoregular';
			display: block;
			padding: 10px;
			color: #373737;
		}
			.b-menu-list li a:hover {
				background-color: #00c997;
				border-radius: 3px;
				color: #fff;
			}
	.b-contact {
		margin-top: 35px;
	}
			.b-contact-p-tel {
				font-family: 'robotoregular';
				font-size: 18px;
				text-align: right;
				font-weight: bold;
			}
				.b-contact-p-tel span {
					color: #00c997;
					font-family: 'robotobold';
				}
			.b-contact-p-teh {
				font-size: 14px;
				font-family: 'robotolight';
			}
		.b-contact-img {
			margin-top: 5px;
			margin-left: 22px;
		}

.b-2 {
	background: url(../images/fon_head1.jpg) no-repeat;
	background-position: center;
}
	.b2-head-bg {
		padding: 90px 0px 90px 0px;
	}
		.b2-head-info {
			background-color: #869197;
			background: rgba(134,145,151,0.9);
			text-align: center;
			color: #fff;
			padding: 30px 50px;
			border-radius: 5px;
		}
			.b2-head-info h1 {
				font-family: 'robotobold';
				font-size: 65px;
				font-weight: bold;
				padding-bottom: 10px;	
			}
			.b2-head-info h2 {
				font-family: 'robotoregular';
				font-size: 32px;
			}

.b-3 {
	background-color: #6a7f8e;
}
	.b-h2 {
		font-family: 'robotomedium';
		text-align: center;
		font-weight: bold;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.b3-list {
		margin-top: 20px;
	}
		.b3-list li.three {
			margin: 0px;
		}
		.three-point {
			margin: 35px 10px 0px 10px;
		}
		.b3-list li {
			display: inline-block;
			margin-right: 0px;
			vertical-align: top;
		}
		.b3-list li:nth-child(5n) {
			margin-right: 0px;
		}
			.b3-list li:nth-child(1n) .b3-list-img .circl-green {
				left: 10px;
			}
			.b3-list li:nth-child(5n) .b3-list-img .circl-green {
				left: 20px;
			}
		.b3-list-img {
			position: relative;
			text-align: center;
		}
			.b3-list-img li {
				margin-right: 0px;
			}
			.circl-green {
				font-family: 'robotomedium';
				background-color: #00c997;
				color: #fff;
				padding: 5px 10px;
				border-radius: 50%;
				position: absolute;
				left: 14px;
    			top: 30px;
			}
			.circl-white {
				margin-left: 0px;
			}
			.point-green {
				margin-left: 0px;
				position: absolute;
    			left: 140px;
    			bottom: 37px;
			}
		.b3-list-p {
			color: #fff;
			text-align: center;
			font-size: 90%;
			margin-top: 25px;
			margin-bottom: 50px;
		}
			.b3-list-p p {
				font-family: 'robotolight';
				width: 145px;
			}
			.b3-list-p span {
				font-family: 'robotobold';
			}

.b-4 {
	background: url(../images/fon_b4.jpg);
	background-position: center;
}
	.b4-bg {
		padding: 60px 0px;
	}
		.b4-content {
			background: url(../images/fon_b4-content.jpg) no-repeat;
			background-position: center;
			padding: 10px 40px;
		}
			.b4-content li {
				vertical-align: middle;
			}
			.b4-content p {
				font-family: 'robotolight';
				font-size: 24px;
				color: #fff;
			}
			.b4-content .bord {
				margin-left: 58px;
				margin-right: 10px;
				background-color: #00c997;
				padding: 5px 40px;
				border-radius: 3px;
			}


.tabs-menu	{
	width: 100%;
}
	.tabs-menu ul {
		display: table-row;
		width: 100%;
	}
		.tabs-menu ul li {
			display: table-cell;
			height: 90px;
			border-right: 5px solid #fff;
			width: 1%;
		}
			.tabs-menu ul li:last-child {
				border-right: none;
			}
				.tabs-menu ul li a {
					font-family: 'robotoregular';
					display: block;
					color: #fff;
					width: auto;
					text-align: center;
					padding: 25px 0px 15px;
					background-color: #00c997;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
					height: 85px;
				}
				.tabs-menu ul li a:hover, .tabs-menu ul li a.active {
					background-color: #3d4b5a;
				}
				.tabs-menu ul li a.active {
					border-bottom: 4px solid #3d4b5a; 
				}

	.tabs-content {
		background-color: #6a7f8e;
		border-bottom: 6px solid #3d4b5a;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		padding-top: 4px;
	}
		.tabs-content li {
			width: 40%;
		}
			.tabs-content .li-text {
				padding:  0px 63px;
				vertical-align: top;
			}
				.bb {
					font-family: 'robotolight';
					text-align: left;
					padding: 50px 0px 20px 0px;
					border-bottom: 1px solid #b5bfc7;
				}
				.tabs-p {
					font-family: 'robotoregular';
					line-height: 25px;
			    	text-align: justify;
			    	padding: 20px 0px 50px 0px;
				}
				.content-video {
					vertical-align: middle;
				}
					.content-video img {
						width: 119%;
					}

.b-6 {
	background-color: #3d4b5a;
	margin-top: 110px;
}
	.b6-list-p p {
		width: 190px;
	}
	.b6-pg {
		margin-left: 0px;
		position: absolute;
    	left: 185px;
    	bottom: 54px;
	}
	.b6-cg {
		font-family: 'robotomedium';
		background-color: #00c997;
		color: #fff;
		padding: 5px 10px;
		border-radius: 50%;
		position: absolute;
		left: 25px;
    	top: 43px;
	}
	.four {
		margin: 48px 10px 0px 10px;
	}

.categor h3 {
	color: #3c3c3c;
	font-family: 'robotothin';
	padding-bottom: 25px;
}
.categor-list ul {
	width: 100%;
	float: left;
}
.categor-list li {
	width: 24%;
	float: left;
	margin-right: 1%;
}
	.categor-list .active a {
		background-color: #fff;
		color: #000;
		border: 1px solid #00c997;
		margin-right: 0px;
	}
		.categor-list .active a:hover {
			background-color: #fff;
			color: #000;
		}
	.categor-list a {
		font-family: 'robotolight';
		padding: 5px 30px;
		color: #fff;
		display: block;
		background-color: #8f9faa;
		border-radius: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
	.categor-list a:hover {
		background-color: #00c997;
	}

.example-page {
	margin-right: 30px;
	margin-top: 30px;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
}
	.ep1 {
		background: url(../images/b7_fon1.jpg) no-repeat;
		background-position: center;
	}
	.ep2 {
		background: url(../images/b7_fon2.jpg) no-repeat;
		background-position: center;
	}
	.ep3 {
		background: url(../images/b7_fon3.jpg) no-repeat;
		background-position: center;
	}
	.ep4 {
		background: url(../images/b7_fon4.jpg) no-repeat;
		background-position: center;
	}
	.ep5 {
		background: url(../images/b7_fon5.jpg) no-repeat;
		background-position: center;
	}
	.ep6 {
		background: url(../images/b7_fon6.jpg) no-repeat;
		background-position: center;
	}
	.ep7 {
		background: url(../images/b7_fon7.jpg) no-repeat;
		background-position: center;
	}
	.ep8 {
		background: url(../images/b7_fon8.jpg) no-repeat;
		background-position: center;
	}
	.ep9 {
		background: url(../images/b7_fon9.jpg) no-repeat;
		background-position: center;
	}
	.page-head {
		display: table-cell;
	}
	.page-head a {
		background-color: #00c997;
		font-family: 'robotoregular';
		display: block;
		padding: 5px 10px;
		text-align: center;
		width: 293px;
		height: 50px;
		display: table-cell;
		vertical-align: middle;
	}
	.page-price {
		font-family: 'robotolight';
		margin-top: 190px;
		background: rgba(255,255,255,0.95);
		padding: 5px 25px 15px 25px;
		border-top: 1px solid #d0d0d0;
	}
		.page-price p {
			margin-top: 10px;
			margin-bottom: 15px;
		}
		.page-price ul .text-left {
			float: left;
			font-size: 110%;
			margin-top: 7px;
		}
		.page-price ul .text-right {
			float: right;
			font-size: 150%;
			font-family: 'robotobold';
		}
	.page-button {
		background: rgba(154,168,178,0.85);
		padding: 12px 10px;
	}
		.page-button a {
			font-family: 'robotoregular';
			display: block;
			padding: 5px 30px;
			text-align: center;
			border-radius: 3px;
		}
			.watch {
				border: 2px solid #fff;
			}
				.watch:hover {
					background-color: #fff;
					color: #000;
				}
			.buy{
				background-color: #00c997;
				border: 2px solid #00c997;
				margin-left: 10px;
			}
				.buy:hover{
					background-color: #049873;
					border: 2px solid #049873;
				}
	.show_more {
		margin: 6% 33%;
	}		
		.show_more a {
			font-family: 'robotolight';
			font-size: 120%;
			padding: 10px 50px;
			display: block;
			border: 2px solid #00ca97;
			border-radius: 3px;
			font-weight: bold;
			color: #656565;
			text-align: center;
			width: 210px;
		}
			.show_more a:hover {
				background-color: #00ca97;
				color: #fff;
			}

.b-8 {
	background: url(../images/b8_fon.jpg) no-repeat;
	background-position: center;
}
	.b8-block {
		padding: 80px 0px 50px 0px;
	}
	.b8-content {
		background: rgba(99,109,121,0.85);
		padding: 30px 100px;
		border-radius: 5px;
	}
		.b8-head {
			font-family: 'robotobold';
			text-align: center;
			font-size: 34px;
		}
		.b8-sentence {
			font-family: 'robotolight';
			margin-top: 20px;
			text-align: center;
			color: #fff;
		}
		.b8-sentence ul li {
			margin-right: 80px;
		}
		.b8-sentence ul li:first-child {
			text-align: left;
			width: 170px;
		}
		.b8-sentence ul li:last-child {
			margin-right: 0px;
		}
			.b8-sentence ul li:last-child p {
				text-align: center;
			}
		.green-check {
			padding: 6px;
			border: 2px solid #fff;
			background-color: #00eab5;
			display: block;
			float: left;
			border-radius: 5px;
			margin-right: 5px;
			margin-top: 3px;
		}
		.white-check {
			padding: 6px;
			border: 2px solid #fff;
			display: block;
			float: left;
			border-radius: 5px;
			margin-right: 5px;
			margin-top: 3px;
		}
		.exp-gc {
			border: 2px solid #a1a1a1;
		}
		.b8-sentence p {
			padding: 7px 0px;
			text-align: left;
		}
		.sixty {
			font-family: 'robotoregular';
			text-decoration: line-through;
			font-size: 26px;
		}
		.fifteen {
			font-family: 'robotobold';
			color: #00eab5;
			font-size: 32px;
		}
		.b8-sentence a {
			font-family: 'robotomedium';
			color: #fff;
			padding: 5px 40px;
			background-color: #00a77c;
			border-radius: 3px;
			font-size: 26px;
		}
		.b8-sentence a:hover {
			background-color: #09CE9B;
		}

.b-9 {
	background-color: #6a7f8e;
}
	.b9-list li {
		margin-right: 50px;
		text-align: center;
	}
	.b9-list-p  p {
		width: 200px;
	}
	.know_more {
		margin: 0% 33%;
		margin-bottom: 60px;
	}
		.know_more a {
				font-family: 'robotolight';
				font-size: 20px;
				padding: 10px 50px;
				display: block;
				border: 2px solid #fff;
				border-radius: 3px;
				color: #fff;
				text-align: center;
				width: 210px;
			}
		.know_more a:hover {
			background-color: #00ca97;
			border: 2px solid #00ca97;
		}

.b10-content {
	margin-top: 30px;
	margin-bottom: 30px;
}
	.question {
		font-family: 'robotolight';
		border: 1px solid #a3a3a3;
		border-radius: 3px;
		margin-bottom: 35px;
		font-size: 24px;
	}
		.name-question {
			padding: 0px 10px;
			background-color: #fff;
			margin-top: -13px;
			margin-left: 10px;
			float: left;
		}
			.number-question {
				padding: 0px 10px;
				background-color: #00a77c;
				margin-right: 10px;
				color: #fff;
				border-radius: 3px;
				float: left;
			}
			.name-question span {
				color: #00a77c;
			}
		.answer p {
			padding: 32px;
			font-size: 16px;
		}

.b-11 {
	background: url(../images/b11_fon.jpg) no-repeat;
	background-position: center;
	padding: 0px 0px;
}
	.b11-block {
		padding: 25px;
		background: url(../images/b11_fon_content.jpg) no-repeat;
		background-position: center;
		border-radius: 5px;
	}
		.b11-content {
			padding: 0px 0px 0px 30px;
		}
			.b11-content li {
				vertical-align: middle;
				float: left;
			}
				.b11-img {
					    padding-top: 16px;
    					margin-left: 5px;
    					margin-right: -7px;
				}
				.b11-content li p {
					margin-top: 35px;
					font-family: 'robotolight';
					color: #fff;
					padding: 0px 60px 20px;
					padding-bottom: 25px;
					width: 570px;
					font-size: 24px;
					border-bottom: 3px solid #00f6be;
				}
					.b11-content li p span {
						padding: 0px 5px;
						background-color: #00c997;
						border-radius: 8px;
						margin-left: 5px;
					}
					.b11-content li:last-child {
						float: right;
					}
				.counter {
					background-color: #00c997;
					padding: 5px 50px 5px 50px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					font-family: 'robotolight';
				}
					.counter span {
						font-family: 'robotolight';
						color: #fff;
						font-size: 24px;
					}
					.count-number {
						background-color: #fff;
						font-size: 63px;
						padding: 0px 7px;
						border-radius: 5px;
					}
				
.footer-list {
	margin-bottom: 30px;
	margin-top: 30px;
}
	.list-left {
		margin-right: 125px;
		font-family: 'robotolight';
		font-size: 15px;
	}
		.list-left span {
			font-family: 'robotomedium';
			font-weight: bold;
			font-size: 18px;
		}
		.list-left a {
			text-decoration: underline;
			color: #32967d;
		}
		.list-left a:hover {
			text-decoration: none;
		}
		.list-left p {
			margin-top: 10px;
			color: #222;
		}
	.list-center {
		width: 40%;
		text-align: center;
	}
		.list-center a {
			font-family: 'robotoregular';
			color: #222;
			text-decoration: underline;
		}
		.list-center a:hover {
			text-decoration: none;
		}
		.list-center li:first-child {
			padding-right: 15px;
		}
		.list-center p {
			font-family: 'robotolight';
			margin-top: 20px;
			font-size: 14px;
			color: #222;
		}
	.list-right {
		text-align: right;
		font-size: 14px;
		font-family: 'robotolight';
		color: #222;
	}	